@import "./styles/navbar.css";
@import "./styles//hero.css";
@import "./styles/global.css";
@import "./styles//bgnibandan.css";
@import "./styles/callcenter.css";
@import "react-alice-carousel/lib/alice-carousel.css";
@import "./styles//register.css";
@import "./styles//login.css";
@import "./styles/bloodregister.css";
@import "./styles/footer.css";
@import "./styles/BloodDoner.css";
@import "./styles//faq.css";
@import "./styles/contact.css";
@import "./styles/NewsFeed.css";
@import "./styles//admin.css";
@import "./styles/back.css";

@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@400;500;600;700;800&display=swap");

body {
  margin: 0;
  font-family: "Dosis", sans-serif;
}
body,
html {
  overflow-x: hidden;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
